/* Header Styles */
.header {
  text-align: left; /* Align text to the left */
  padding: 80px 20px;
  background-color: transparent; /* Ensure no background color */
  border: none; /* Remove any borders */
  box-shadow: none; /* Remove any box shadows */
  transition: background-color 0.3s ease;
  font-family: 'Carme', serif;
}

.header h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
  color: #333;
  font-weight: 600;
  overflow: hidden; /* Hide letters initially */
}

.header h1 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.header h1 span.visible {
  opacity: 1;
  transform: translateY(0);
}

.header p {
  font-size: 1.5em;
  color: #666;
  font-weight: 300;
}


