/* App.css */

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: 'Carme', serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Utility Classes */
.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* Specific Font Classes */
.carme-regular {
  font-family: "Carme", serif;
  font-weight: 400;
  font-style: normal;
}

